body {
  height: 2000px;
  overflow-x: hidden; }

h3, h4, h5, h6, span {
  color: #e6e6e6; }

ul {
  list-style: none;
  text-decoration: none; }

a {
  text-decoration: none !important;
  color: #737373;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent; }

abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent; }

#header {
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-image: url("../img/slider1.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 760px;
  opacity: 1;
  visibility: inherit;
  z-index: 20; }
  #header #myVideo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    display: none; }
  #header .overlay {
    position: absolute;
    width: 100%;
    height: 760px;
    padding-bottom: 100px;
    transition: all ease .5s;
    opacity: .8;
    background: -webkit-linear-gradient(-45deg, #11998e, #38ef7d); }
  #header .border {
    border: 2px solid white;
    width: 100%;
    z-index: 999; }
  #header #topnav a {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  #header #topnav i:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari */
    transform: scale(1.5);
    /* Standard syntax */ }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: black; }

.dropdown:hover > .dropdown-menu {
  display: block; }

#topnav .phone .nav-item {
  padding-left: 40px; }
#topnav .mail a::after {
  content: "";
  width: 1px;
  height: 18px;
  background: white;
  position: absolute;
  top: 14px;
  left: 214px; }
#topnav .fb::before {
  content: "";
  width: 1px;
  height: 18px;
  background: white;
  position: absolute;
  top: 14px;
  right: 200px; }

#header2 #navbarSupportedContent ul li {
  margin: 0 19px 0 20.2px;
  font-size: 15px; }
#header2 #topnav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.884);
  background: transparent;
  padding: 15px 0 8px; }
#header2 .navbar {
  margin-top: 100px; }
#header2 .scrolled .navbar {
  margin-top: 0;
  background-color: #212529e6;
  color: white; }
#header2 .nav-link {
  color: white; }
#header2 .navscroll .nav-link {
  color: white;
  font-weight: 700; }

.navbar-brand {
  color: white;
  font-weight: 700; }

#header2 #navbarSupportedContent ul .dropdown-menu a {
  padding-right: 200px;
  font-size: 15px;
  font-weight: 400;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  padding-top: 0; }
  #header2 #navbarSupportedContent ul .dropdown-menu a:hover {
    background: transparent;
    color: #2bd383;
    line-height: 30px;
    text-transform: capitalize;
    display: block;
    padding: 0 0 0 15px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

#about {
  margin-top: 100px;
  margin-bottom: 100px; }
  #about .container-fluid .container .about-us {
    text-align: center;
    margin: 50px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    color: #1a1e1a;
    letter-spacing: 1px; }
  #about .container-fluid .container .history {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 9.8px;
    color: #1a1e1a;
    margin: 0 0 22px 2px;
    font-size: 14px; }
  #about .container-fluid .container p {
    line-height: 24px;
    color: #555;
    font-weight: 300;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif; }
  #about .container-fluid .container .imza {
    max-width: 100%;
    height: auto;
    float: right;
    margin-top: 20px;
    margin-right: 30px; }
  #about .container-fluid .container img {
    max-width: 100%;
    height: auto; }
  #about .container-fluid hr {
    margin-top: 120px;
    margin-bottom: 60px; }

#why-us {
  margin-bottom: 50px; }
  #why-us .container .basliq .why-choose-us {
    text-align: center;
    margin: 25px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    color: #1a1e1a;
    letter-spacing: 1px; }
  #why-us .container .basliq p {
    line-height: 24px;
    color: #555;
    font-weight: 400;
    letter-spacing: .18px;
    text-align: center;
    margin-bottom: 40px; }
  #why-us .container .col-md-12 .gosterici-yazi {
    width: 33%;
    position: relative;
    float: left;
    background-color: #1a1823; }
    #why-us .container .col-md-12 .gosterici-yazi ul {
      list-style: none;
      padding: 36px 0 23px 30px; }
      #why-us .container .col-md-12 .gosterici-yazi ul .ucuncu {
        padding-bottom: 24px; }
      #why-us .container .col-md-12 .gosterici-yazi ul li {
        margin-bottom: -12px; }
        #why-us .container .col-md-12 .gosterici-yazi ul li .number-list {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
          width: 21px;
          height: 21px;
          border-radius: 50%;
          background: transparent;
          border: 1px solid #fff;
          text-align: center;
          line-height: 21px;
          float: left;
          margin-right: 21px;
          position: relative;
          overflow: hidden;
          z-index: 1;
          cursor: pointer;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -ms-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
          #why-us .container .col-md-12 .gosterici-yazi ul li .number-list:hover {
            background-color: #38ef7d; }
      #why-us .container .col-md-12 .gosterici-yazi ul .text-list {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 22px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 0.1px; }
  #why-us .container .col-md-12 .gosterici-reqem {
    width: 67%;
    position: relative;
    float: left;
    background-color: #1a1823; }
    #why-us .container .col-md-12 .gosterici-reqem .text-counter {
      width: 25%;
      float: left;
      padding: 40px 0px 46px 0px;
      text-align: center;
      position: relative;
      overflow: visible;
      z-index: 1;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      #why-us .container .col-md-12 .gosterici-reqem .text-counter::before {
        content: "";
        width: 2px;
        height: 90px;
        background: rgba(255, 255, 255, 0.05);
        position: absolute;
        top: 36px;
        left: 0px; }
      #why-us .container .col-md-12 .gosterici-reqem .text-counter::after {
        content: "";
        width: 101%;
        height: 110%;
        background: linear-gradient(45deg, #11998e, #38ef7d);
        background: -ms-linear-gradient(45deg, #11998e, #38ef7d);
        background: -webkit-linear-gradient(45deg, #11998e, #38ef7d);
        background: -o-linear-gradient(45deg, #11998e, #38ef7d);
        background: -ms-linear-gradient(45deg, #11998e, #38ef7d);
        -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
        position: absolute;
        top: -7px;
        left: 0;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate3d(0, 5%, 0);
        -moz-transform: translate3d(0, 5%, 0);
        -ms-transform: translate3d(0, 5%, 0);
        -o-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      #why-us .container .col-md-12 .gosterici-reqem .text-counter:hover::after {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
      #why-us .container .col-md-12 .gosterici-reqem .text-counter:hover .name-counter {
        color: #ffffff; }
      #why-us .container .col-md-12 .gosterici-reqem .text-counter .number-counter {
        font-size: 55px;
        line-height: 55px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #feffff; }
      #why-us .container .col-md-12 .gosterici-reqem .text-counter .name-counter {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
        color: #a4a2a9;
        font-weight: 500;
        letter-spacing: 0.3px; }
      #why-us .container .col-md-12 .gosterici-reqem .text-counter .progress {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 0px;
        overflow: hidden;
        font-size: .75rem;
        background-color: #e9ecef;
        border-radius: .25rem; }

#lets {
  margin-bottom: 50px;
  background-image: url(../img/lets.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 100px 0px;
  text-align: center;
  margin-bottom: 82px; }
  #lets h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    line-height: normal;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.2px; }
  #lets button {
    cursor: pointer;
    -webkit-appearance: button;
    line-height: 22px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    display: inline-block;
    z-index: 1;
    position: relative;
    overflow: hidden;
    border: 1px solid #2bd383;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    text-transform: none;
    padding: 8px 24px;
    margin: 10px 0px 0px; }

#lets .quote-button .flat-button::before {
  background: #2bd383; }

#lets .flat-button:hover::before {
  opacity: 1;
  width: 100%;
  visibility: visible;
  transition: .5s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#lets .flat-button::before {
  content: "";
  width: 0%;
  height: 100%;
  transition: 0.7s;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  z-index: -1;
  opacity: 0;
  visibility: hidden; }

#services {
  margin-bottom: 90px; }
  #services .col-md-4 {
    margin-top: 8px;
    margin-bottom: 8px; }
  #services .services {
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    color: #1a1e1a;
    margin-bottom: 17px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif; }
  #services .services-lorem {
    text-align: center;
    line-height: 24px;
    color: #555;
    font-weight: 400;
    letter-spacing: 0;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 70px; }
  #services .card {
    position: relative; }
    #services .card .icon {
      text-align: center;
      font-size: 60px;
      margin-top: 30px; }
    #services .card .services-h2 {
      color: black;
      font-size: 20px;
      line-height: 36px;
      font-weight: 500;
      letter-spacing: 2.3px;
      text-align: center;
      font-family: 'Poppins', sans-serif; }
    #services .card .hover-service {
      position: absolute;
      opacity: 0;
      -webkit-transition: all .7s;
      -moz-transition: all .7s;
      -ms-transition: all .7s;
      -o-transition: all .7s;
      transition: all .7s; }
      #services .card .hover-service:hover {
        background: #2bd383;
        opacity: 1;
        width: 100%;
        height: 100%;
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        -ms-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s; }
      #services .card .hover-service .hover-services-h2 {
        margin-bottom: 10px;
        color: white;
        font-size: 20px;
        line-height: 36px;
        font-weight: 500;
        letter-spacing: 2.3px;
        padding-top: 20px;
        padding-left: 20px; }
      #services .card .hover-service .hover-services-p {
        text-align: left;
        line-height: 24px;
        color: white;
        font-weight: 400;
        letter-spacing: 0;
        font-family: 'Poppins', sans-serif;
        padding-left: 20px; }

#tooltip-message {
  background-image: url("../img/bg-tooltip.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0;
  background-size: cover;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 90px; }
  #tooltip-message .col-md-12 {
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: w-resize; }
    #tooltip-message .col-md-12 .slider .owl-corsue {
      visibility: hidden; }
    #tooltip-message .col-md-12 .slider .mazqi {
      opacity: 0; }
    #tooltip-message .col-md-12 .slider .active {
      opacity: 1; }
    #tooltip-message .col-md-12 .slider .prev {
      position: absolute;
      float: left;
      font-size: 55px;
      top: 50%;
      left: 50px;
      cursor: pointer;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      #tooltip-message .col-md-12 .slider .prev:hover {
        color: #2bd383;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
    #tooltip-message .col-md-12 .slider .next {
      position: absolute;
      float: right;
      right: 50px;
      font-size: 55px;
      top: 50%;
      cursor: pointer;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      #tooltip-message .col-md-12 .slider .next:hover {
        color: #2bd383;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
    #tooltip-message .col-md-12 .slider .message {
      background: #25211c;
      width: 56%;
      margin: 0 auto;
      position: relative;
      border-radius: 10px;
      padding: 16px 0 16px 29px;
      margin-bottom: 16px;
      margin-top: 10%; }
      #tooltip-message .col-md-12 .slider .message::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 47%;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #25211c; }
      #tooltip-message .col-md-12 .slider .message .p-message {
        color: #d8d8d8;
        line-height: 28px;
        text-align: left;
        letter-spacing: .05px; }
    #tooltip-message .col-md-12 .slider .avatar {
      display: inline-block;
      margin-left: 46.5%; }
      #tooltip-message .col-md-12 .slider .avatar .message-img {
        display: inline;
        margin: 0 0 8px; }
    #tooltip-message .col-md-12 .slider .name-avatar {
      line-height: 24px;
      color: #ffffff;
      font-weight: 400;
      letter-spacing: .6px; }

#portfolio {
  position: relative; }
  #portfolio .our-portfolio {
    position: absolute;
    bottom: 0px;
    font-size: 40px;
    line-height: 48px;
    color: #1a1e1a;
    letter-spacing: 0.3px;
    font-weight: 600;
    display: inline-block; }
  #portfolio .button-group {
    margin-top: 50px;
    margin-right: 40px;
    letter-spacing: 20px; }
    #portfolio .button-group .bt {
      background-color: Transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      position: relative; }
      #portfolio .button-group .bt::after {
        content: "";
        width: 0%;
        height: 4px;
        display: block;
        position: absolute;
        left: 8px;
        bottom: 0;
        background-color: #2bd383;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      #portfolio .button-group .bt:hover:after {
        width: 44%;
        transition: 0.3s; }
      #portfolio .button-group .bt:hover {
        text-decoration: none;
        outline: 0;
        color: #2bd383;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        #portfolio .button-group .bt:hover .fa-comment {
          opacity: 1;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s; }
      #portfolio .button-group .bt .fa-comment {
        position: relative;
        color: #2bd383;
        font-size: 30px;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        #portfolio .button-group .bt .fa-comment p {
          position: relative;
          text-align: center;
          color: #fff;
          font-size: 15px;
          top: -24px; }
  #portfolio .grid {
    margin-top: 50px;
    position: relative; }
    #portfolio .grid .element-item {
      padding-bottom: 20px; }
      #portfolio .grid .element-item:hover {
        transform: scale(1.1);
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
      #portfolio .grid .element-item img {
        width: 100%; }
    #portfolio .grid .overlay {
      position: absolute;
      text-align: center;
      top: 0%;
      width: 430px;
      height: 274px;
      transition: all 1s;
      opacity: 0; }
      #portfolio .grid .overlay:hover {
        background: linear-gradient(45deg, rgba(17, 153, 142, 0.7), rgba(56, 239, 125, 0.7));
        opacity: 0.99;
        visibility: visible;
        opacity: 1;
        cursor: pointer;
        transition-delay: 0.3s; }
      #portfolio .grid .overlay .content {
        margin-top: 100px;
        font-size: 20px;
        font-weight: 700; }
        #portfolio .grid .overlay .content a {
          color: white; }
          #portfolio .grid .overlay .content a:hover {
            color: black;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s; }

#blogs {
  margin-top: 100px; }
  #blogs .container {
    background: #fff;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05); }
  #blogs .head {
    font-size: 45px;
    line-height: 48px;
    color: #1a1e1a;
    font-weight: 500;
    margin-bottom: 50px; }
  #blogs img {
    max-width: 100%;
    height: auto;
    display: inline-block; }
  #blogs .headblog .blogh2 a {
    display: inline-block;
    padding-top: 50px;
    font-size: 25px;
    text-decoration: none;
    list-style-type: none;
    color: #1a1e1a;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    #blogs .headblog .blogh2 a:hover {
      color: #2bd383;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
  #blogs .entry-post p {
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 28px;
    font-weight: 300;
    color: #b3b3b3; }

article .content-post .entry-post {
  border-bottom: 1px solid #f2f2f2; }

#blogs .headblog .media {
  margin-top: 50px;
  margin-bottom: 50px; }
  #blogs .headblog .media a {
    text-decoration: none; }
    #blogs .headblog .media a:hover {
      color: #2bd383;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
#blogs .headblog .blog-item .blog-link .blog-hover {
  position: absolute;
  width: 92%;
  height: 0px;
  transition: all ease .5s;
  opacity: 0;
  background: linear-gradient(45deg, rgba(17, 153, 142, 0.7), rgba(56, 239, 125, 0.7)); }
  #blogs .headblog .blog-item .blog-link .blog-hover:hover {
    height: 55%;
    opacity: 1; }
#blogs .headblog .blog-hover-content {
  position: relative;
  display: inline-block; }
#blogs .fa-check {
  color: white;
  font-size: 40px;
  width: 350px;
  height: 262.5px;
  text-align: center;
  line-height: 262.5px; }

#owl .owl-carousel {
  height: 11rem;
  background: #2bd383;
  padding-top: 0; }
#owl img {
  max-width: 100%;
  height: auto; }

#footer {
  background: #2e2d2d;
  padding: 86px 0 80px;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  margin: 0;
  border: 0;
  outline: 0; }
  #footer .widget-brand {
    margin-left: -14px; }
  #footer p {
    margin-bottom: 7px;
    margin-top: 20px;
    letter-spacing: -0.15px;
    line-height: 21px;
    color: gray; }
  #footer .flat-social.style2 a {
    color: #fff;
    width: 40px;
    height: 40px;
    background: #212121;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin-left: 1.5px;
    border-radius: 3px;
    position: relative;
    overflow: hidden; }
    #footer .flat-social.style2 a i {
      border: none; }
    #footer .flat-social.style2 a:hover {
      background: -webkit-linear-gradient(45deg, rgba(17, 153, 142, 0.7), rgba(56, 239, 125, 0.7)); }
  #footer .footer-widgets .widget-title {
    line-height: 48px;
    text-transform: none;
    color: #cccccc;
    font-weight: 300;
    margin-bottom: 8px;
    letter-spacing: .3px;
    font-size: 25px; }
  #footer .footer-widgets .widget.widget-twitter .widget-title {
    margin-bottom: 16px; }
  #footer .img {
    max-width: 100%;
    height: auto; }
  #footer .widget ul li a {
    color: #1a1e1a;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-decoration: none; }
  #footer .footer-widgets .widget.widget-instagram ul li {
    display: inline-block;
    padding: 0 7px 0 0;
    margin-bottom: 10px;
    border: none; }

.footer-widgets .widget-instagram .instagram-images a:hover img {
  opacity: .2; }
.footer-widgets .widget-instagram .instagram-images:hover {
  background: -webkit-linear-gradient(45deg, rgba(17, 153, 142, 0.7), rgba(56, 239, 125, 0.7));
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

#footer .footer-widgets .widget.widget-subscribe-us .form-subscribe .legend {
  line-height: 40px;
  color: #fff;
  letter-spacing: -0.25px;
  margin-bottom: 10px; }

input[type="email"]:focus, input[type="search"]:focus, input[type="text"]:focus {
  border: 1px solid #2bd383 !important; }

textarea:focus {
  border: 1px solid #2bd383 !important; }

input[type="email"], input[type="text"] {
  display: block;
  width: 100%;
  background: #212121;
  font-family: "Arial";
  font-size: 14px;
  line-height: 39px;
  padding: 0 10px;
  letter-spacing: .2px;
  color: #989696;
  border-radius: 3px;
  border: 1px solid #212121; }

textarea {
  display: block;
  width: 100%;
  background: #212121;
  font-family: "Arial";
  font-size: 14px;
  line-height: 39px;
  padding: 0 10px;
  letter-spacing: .2px;
  color: #989696;
  border-radius: 3px;
  border: 1px solid #212121; }

.footer-widgets .widget.widget-subscribe-us .form-subscribe .btn {
  background: transparent; }

#footer button {
  cursor: pointer;
  line-height: 22px;
  border: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background: transparent;
  border-radius: none; }
#footer .btn {
  border-radius: 0;
  padding: 0;
  font-size: 0;
  font-weight: 0; }
#footer .footer-widgets .widget.widget-subscribe-us .form-subscribe .btn {
  border: none;
  background: transparent; }
  #footer .footer-widgets .widget.widget-subscribe-us .form-subscribe .btn i {
    font-size: 14px;
    line-height: 33px;
    color: #fff;
    font-weight: 500;
    padding-top: 0;
    display: block;
    border: none;
    position: absolute;
    top: 112px;
    left: 232px; }
  #footer .footer-widgets .widget.widget-subscribe-us .form-subscribe .btn :hover {
    color: #2bd383; }
#footer .form-subscribe div#subscribe-msg {
  text-align: center;
  margin-top: 10px;
  color: #2bd383;
  border: none; }
#footer .input span {
  color: #2bd383;
  padding: 5px 0;
  display: inline-block; }

.has-error .required {
  border-color: #2bd383; }

#bottom {
  background: #0a0a0a;
  padding: 22px 0 21px 8px; }
  #bottom .nav-footer > ul > li {
    display: inline-block; }

.nav-footer > ul > li.active > a,
.nav-footer > ul > li > a:hover {
  color: white;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
.nav-footer > ul > li > a {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: left;
  display: inline-block;
  margin: 0 4px 0 18px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.copyright p {
  color: #868686;
  line-height: normal;
  color: #868686;
  font-weight: 400;
  letter-spacing: .15px; }
  .copyright p a {
    color: #2bd383;
    text-decoration: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .copyright p a:hover {
      color: #868686; }

#go-top {
  position: fixed;
  width: 42px;
  height: 42px;
  background: #161616;
  border-radius: 10px;
  text-align: center;
  bottom: 15px;
  right: 0;
  display: none;
  position: fixed;
  z-index: 9999; }
  #go-top:hover {
    background: #2bd383; }
  #go-top i {
    font-size: 20px;
    line-height: 42px;
    color: #e6dddd;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

/*# sourceMappingURL=home.css.map */
