body {
    height: 2000px;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
  }
  @mixin setTranstion($type,$second){
    -webkit-transition: $type $second;
    -moz-transition: $type $second;
    -ms-transition: $type $second;
    -o-transition: $type $second;
    transition: $type $second;
}
  h3, h4, h5, h6, span {
    color: #e6e6e6;
  }

  ul {
    list-style: none;
    text-decoration: none;
  }
  
  a {
    color: #737373;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    text-decoration: none !important;
  }
  
  abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    text-decoration: none !important;
  }
  
  #header {
      background: black;
    #topnav {
      a {
        color: white;
        background: black;
        font-size: 14px;
        font-weight: 400;
        line-height: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
      i:hover {
        -ms-transform: scale(1.5);
        /* IE 9 */
        -webkit-transform: scale(1.5);
        /* Safari */
        transform: scale(1.5);
        /* Standard syntax */
      }
    }
  }
  
  img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    color: black;
  }
  
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  
  #topnav {
    .phone .nav-item {
      padding-left: 40px;
    }
    .mail a::after {
      content: "";
      width: 1px;
      height: 18px;
      background: white;
      position: absolute;
      top: 14px;
      left: 214px;
    }
    .fb::before {
      content: "";
      width: 1px;
      height: 18px;
      background: white;
      position: absolute;
      top: 14px;
      right: 200px;
    }
  }
  
  #header2 {
    
    #navbarSupportedContent ul li {
      margin: 0px 19px 0px 20.2px;
      font-size: 15px;
    }
    #topnav {
      border-bottom: 1px solid rgba(255, 255, 255, 0.884);
      background: transparent;
      padding: 15px 0px 8px 0px;
    }
    .navbar {
      margin-top: 100px;
       
   
    }
    .scrolled .navbar {
      margin-top: 0px;
      background-color: white;;
    
  
    
    }
    .nav-link {
      color: black;
      font-weight: 700;
     
    }
    .navscroll .nav-link {
      color: black;
      font-weight: 700;
    }
  }
  .navbar-brand {
    color: white;
    font-weight: 700;
  }
  
  #header2 #navbarSupportedContent ul .dropdown-menu a {
    padding-right: 200px;
    font-size: 15px;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 0px;
    &:hover {
      background: transparent;
      color: #2bd383;
      line-height: 30px;
      text-transform: capitalize;
      display: block;
      padding: 0px 0px 0px 15px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }
  }

// parallax
#parallax{
  margin-top: 150px;
  background-image: url("../img/parallax_services.jpg");
  margin-bottom: 50px;
  width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding: 125px 0px 120px 0px;
    .overlay{
      position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 255, 255, 255, 0.4);
}
.text{
  margin-left: 50px;
  margin-bottom: 30px;
}
h1{
  color: black;
  font-size: 38px;
  font-weight: 700px;
  margin-left: 30px;
}
.breadcrumbs{
  ul{
    margin-left: 30px;
    margin-top: 10px;
    font-weight: 700;
    li{
      position: relative;
      display: inline-block;
      margin-right: 22px;
      color: #1a1e1a;
      font-weight: 500;
      &:last-child::before {
        content: "";
        content: "\f30f";
     font-family: "Ionicons";
     color: #1a1e1a;
     position: absolute;
     top: 0;
     right: 62px;
    }
      a{
        color: black;
        text-decoration: none;
        @include setTranstion(all,0.3s );
        outline: 0;
        &:hover{
          color: #2bd383;
          @include setTranstion(all,0.3s );
        }
      }
    }
  }
}
}

//accordion_slider

#accord_slider{
  .accord {
    margin: 15px;
    width: 500px;
    .content {
      display: none;
      @include setTranstion(all,1s);
      p {
        padding: 10px;
        @include setTranstion(all,1s);
      }
  }
    .title {
      margin-bottom: 10px;
      border-radius: 25px;
      padding: 22px 0px 9px 31px;
      background: #d8d6d6;
      color: black;
      cursor: pointer;
      border-bottom: 1px solid #ccc;
      position: relative;
      h4 {
        display: inline-block;
        color: black;
        font-size: 20px;
        font-weight: 700;
    }
    i {
      float: right;
  }
   
    &::after {
      content: "\f067";
      font-family: FontAwesome;
      position: absolute;
      right: 2%;
      top: 28%;
      color: rgb(161, 157, 152);
     

  }
  }
  .active{
    border-radius: 25px;
    @include setTranstion(all,1s);
    .title {
      background-color: #2bd383;
      color: #fff;
      &::after {
        content: "\f068";
        color: white;
        @include setTranstion(all,1s);
    }
  }
   .content {
    display: block;
    @include setTranstion(all,1s);
}
  }
}
}



// train
#train{
  margin-top: 100px;
  .icon{
    padding-bottom: 50px;
    &:hover .box img{
      transform: rotateY(-180deg);
      transition: .6s ease-in-out;
     }
    .box {
      float: left;
      position: relative;
      margin-top: 9px;
      margin-right: 50px;
      
  }
  .body{
    overflow: hidden;
    padding-right: 20px;
    h4{
      line-height: 36px;
      color: #1a1e1a;
      letter-spacing: 2px;
      margin-bottom: 8px;
      font-size: 22px;
      font-weight: bold;
      
    }
    p{
      font-weight: 400;
      line-height: 24px;
      color: rgb(139, 137, 134);
    }
}
  }

}

// lets
#lets {
  margin-bottom: 50px;
  background-image: url(../img/lets.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 100px 0px;
  text-align: center;
  margin-bottom: 82px;
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    line-height: normal;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.2px;
    margin-right: 50%;
    margin-top: 3%;

  }
  button {
    cursor: pointer;
    -webkit-appearance: button;
    line-height: 22px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    display: inline-block;
    z-index: 1;
    position: relative;
    overflow: hidden;
    border: 1px solid #2bd383;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    text-transform: none;
    padding: 8px 24px;
    margin-left: 50%;
  }
}
#lets .quote-button .flat-button::before {
  background: #2bd383;
}
#lets .flat-button:hover::before {
  opacity: 1;
  width: 100%;
  visibility: visible;
  transition: .5s;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0); 
}

#lets .flat-button::before {
  content: "";
  width: 0%;
  height: 100%;
  transition: .7s ;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(-100%,0,0);
  -moz-transform: translate3d(-100%,0,0);
  -ms-transform: translate3d(-100%,0,0);
  -o-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

// price
 #price{
   h1{
    text-align: center;
    margin: 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    color: #1a1e1a;
    letter-spacing: 1px;
   }
   .flat-price {
  
    text-align: center;
    background: rgb(247, 241, 241);
   
   .price-header {
      padding-top: 36px;
      margin-bottom: 19px;
      .flat-value {
        width: 104px;
        height: 104px;
        border-radius: 50%;
        background: transparent;
        border: 2px solid #2bd383;
        text-align: center;
        padding-top: 26px;
        margin: 0px auto 26px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 4px;
          left: 4px;
          padding: 4px;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          z-index: -1;
          opacity: 0;
        }
        span{
          display: block;
          transform: scale(1);
          transition: all 0.3s ease-in-out;
        }
        .price-number {
          font-family: "Arial";
          font-size: 36px;
          line-height: 36px;
          color: #1a1e1a;
        }
       .price-year {
          font-family: "Arial";
          font-size: 14px;
          line-height: 18px;
          color: #1a1e1a;
        }
    }
    .title-price {
      line-height: 31px;
      color: #1a1e1a;
      text-transform: uppercase;
      letter-spacing: 0.25px;
      font-size: 20px;
    }
    }
    .content-price {
      li {
        line-height: 38px;
        color: #969696;
        transition: all 0.3s ease-in-out;
      }
     }
     .btn-price {
      margin-bottom: 24px;
      .flat-button {
        color: #969696;
        padding: 9px 70px;
        background: transparent;
        line-height: 22px;
        display: inline-block;
        z-index: 1;
        position: relative;
        overflow: hidden;
        border: 1px solid #2bd383;
        border-radius: 5px;
        &:hover::before {
          opacity: 1;
          width: 100%;
          visibility: visible;
          transition: .5s;
          -webkit-transform: translate3d(0,0,0);
          -moz-transform: translate3d(0,0,0);
          -ms-transform: translate3d(0,0,0);
          -o-transform: translate3d(0,0,0);
           transform: translate3d(0,0,0); 
      }
        &::before {
          content: "";
          width: 0%;
          height: 100%;
          transition: .7s ;
          position: absolute;
          top: 0;
          left: 0;
          -webkit-transform: translate3d(-100%,0,0);
          -moz-transform: translate3d(-100%,0,0);
          -ms-transform: translate3d(-100%,0,0);
          -o-transform: translate3d(-100%,0,0);
          transform: translate3d(-100%,0,0);
          z-index: -1;
          opacity: 0;
          visibility: hidden;
          background: black;
          border: 1px solid black;
        }
      }
      
      }
     }
     .snake{
      position: relative;
      overflow: hidden;
      .overlay{
        position: absolute;
        opacity: 0.9;
        text-align: center;
        padding-top: 90px;
        background-color: #b62d2d;
       
      }
    }
    
       
    }
     

    
          

        // .overlay {
        //   background: rgba(52,73,94,.65);
        //   width: 100%;
        //   height: 100%;
        //   text-align: center;
        //   line-height: 300px;
        //   position: absolute;
        //   opacity: 0.9;
         
        // }
        // .overlay{
        //   position: absolute;
        //   opacity: 0.9;
        //   text-align: center;
        //   padding-top: 60px;
        //   background-color: #a82b2b;
        // }
        
      
        


// footer
    #footer {
      background: #2e2d2d;
      padding: 86px 0px 80px 0px;
      font-family: inherit;
      font-size: 100%;
      font-weight: inherit;
      font-style: inherit;
      vertical-align: baseline;
      margin: 0;
      border: 0;
      outline: 0;
      margin-top: 100px;
      .widget-brand {
        margin-left: -14px;
      }
      p {
        margin-bottom: 7px;
        margin-top: 20px;
        letter-spacing: -0.15px;
        line-height: 21px;
        color: gray;
      }
      .flat-social.style2 a {
        color: #fff;
        width: 40px;
        height: 40px;
        background: #212121;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        margin-left: 1.5px;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
        i {
          border: none;
        }
        &:hover {
          background: -webkit-linear-gradient(45deg, rgba(17, 153, 142, 0.7), rgba(56, 239, 125, 0.7));
        }
      }
      .footer-widgets {
        .widget-title {
          line-height: 48px;
          text-transform: none;
          color: #cccccc;
          font-weight: 300;
          margin-bottom: 8px;
          letter-spacing: 0.3px;
          font-size: 25px;
        }
        .widget.widget-twitter .widget-title {
          margin-bottom: 16px;
        }
      }
      .img {
        max-width: 100%;
        height: auto;
      }
      .widget ul li a {
        color: #1a1e1a;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        text-decoration: none;
      }
      .footer-widgets .widget.widget-instagram ul li {
        display: inline-block;
        padding: 0px 7px 0px 0px;
        margin-bottom: 10px;
        border: none;
      }
    }
    
    .footer-widgets .widget-instagram .instagram-images {
      a:hover img {
        opacity: 0.2;
      }
      &:hover {
        background: -webkit-linear-gradient(45deg, rgba(17, 153, 142, 0.7), rgba(56, 239, 125, 0.7));
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
    }
    
    #footer .footer-widgets .widget.widget-subscribe-us .form-subscribe .legend {
      line-height: 40px;
      color: #fff;
      letter-spacing: -0.25px;
      margin-bottom: 10px;
    }
    
    input {
      &[type="text"]:focus, &[type="email"]:focus, &[type="search"]:focus {
        border: 1px solid #2bd383 !important;
      }
    }
    
    textarea:focus {
      border: 1px solid #2bd383 !important;
    }
    
    input {
      &[type="email"], &[type="text"] {
        display: block;
        width: 100%;
        background: #212121;
        font-family: "Arial";
        font-size: 14px;
        line-height: 39px;
        padding: 0px 10px 0px 10px;
        letter-spacing: 0.2px;
        color: #989696;
        border-radius: 3px;
        border: 1px solid #212121;
      }
    }
    
    textarea {
      display: block;
      width: 100%;
      background: #212121;
      font-family: "Arial";
      font-size: 14px;
      line-height: 39px;
      padding: 0px 10px 0px 10px;
      letter-spacing: 0.2px;
      color: #989696;
      border-radius: 3px;
      border: 1px solid #212121;
    }
    
    .footer-widgets .widget.widget-subscribe-us .form-subscribe .btn {
      background: transparent;
    }
    
    #footer {
      button {
        cursor: pointer;
        line-height: 22px;
        border: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        background: transparent;
        border-radius: none;
      }
      .btn {
        border-radius: 0;
        padding: 0px;
        font-size: 0px;
        font-weight: 0;
      }
      .footer-widgets .widget.widget-subscribe-us .form-subscribe .btn {
        border: none;
        background: transparent;
        i {
          font-size: 14px;
          line-height: 33px;
          color: #fff;
          font-weight: 500;
          padding-top: 0px;
          display: block;
          border: none;
          position: absolute;
          top: 112px;
          left: 232px;
        }
        :hover {
          color: #2bd383;
        }
      }
      .form-subscribe div#subscribe-msg {
        text-align: center;
        margin-top: 10px;
        color: #2bd383;
        border: none;
      }
      .input span {
        color: #2bd383;
        padding: 5px 0px;
        display: inline-block;
      }
    }
    
    .has-error .required {
      border-color: #2bd383;
    }
    
    #bottom {
      background: #0a0a0a;
      padding: 22px 0px 21px 8px;
      .nav-footer > ul > li {
        display: inline-block;
      }
    }
    
    .nav-footer > ul > li {
      > a:hover, &.active > a {
        color: white;
        text-decoration: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
      > a {
        font-size: 12px;
        line-height: 24px;
        text-transform: uppercase;
        text-align: left;
        display: inline-block;
        margin: 0px 4px 0px 18px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
    }
    
    .copyright p {
      color: #868686;
      a {
        &:hover {
          color: #868686;
        }
        color: #2bd383;
        text-decoration: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
      line-height: normal;
      color: #868686;
      font-weight: 400;
      letter-spacing: 0.15px;
    }
    
    #go-top {
      position: fixed;
      width: 42px;
      height: 42px;
      background: #161616;
      border-radius: 10px;
      text-align: center;
      bottom: 15px;
      right: 0px;
      display: none;
      position: fixed;
      z-index: 9999;
      &:hover {
        background: #2bd383;
      }
      i {
        font-size: 20px;
        line-height: 42px;
        color: #e6dddd;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
    }
   
  
  
    